<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <connectionStrings>
    <!--数据库连接字符串-->
      <add name="db" connectionString="Data Source=.; Database=HOMEWORK; User ID=sa; Password=Zzc1030@123456; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>